body {
    font: 3.5rem "Century Gothic", Futura, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: repeating-radial-gradient(rgb(225, 1, 255), rgb(30, 255, 0)1%, rgb(27, 8, 80) 2%,rgb(255, 0, 0) 3%, rgb(200, 255, 0) 4%);;
    color: rgb(251, 255, 0);
    height: 100vh;
}

ol, ul {
    padding-left: 30%;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 1vh;
}

.square {
    background: linear-gradient(45deg, rgb(2, 95, 18) 10%, rgb(50, 1, 165) 100%);
    border:0px solid white;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    line-height: 34px;
    height: 10vh;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 10vh; 
    color: rgb(251, 255, 0)

}

.square:hover {
    background: linear-gradient(225deg, rgb(2, 95, 18) 10%, rgb(50, 1, 165) 100%);

}

.kbd-navigation .square:focus {
    background: rgb(167, 55, 55);
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
button{
    background: linear-gradient(90deg, rgb(2, 95, 18) 10%, rgb(50, 1, 165) 100%);
    color: rgb(251, 255, 0);
    padding: 5%;
}
button:hover{
    background: linear-gradient(270deg, rgb(2, 95, 18) 10%, rgb(50, 1, 165) 100%);
}
